[2017-09-08 16:49] AliMunchkin opened #5 "Background thread rendering"
I wonder if this (awesome!) library could be modified so the waveform is generated on a background thread (then of course displayed on the main thread)? I've had a play dropping some of the processing onto a global queue but could not get it working.

I would love to use this in a DAW style app but require 'on the fly' updating of waveforms (recording functionality etc.). Doesn't matter if the wav

[2018-02-21 13:41] cortnum opened #6 "Width issue"
Hi,

This is an otherwise amazing framework, however there is one big issue that is plauging me, which prevents us from using this in our app.

When I set a width for the waveform, it does not properly fill out the image. It is as if it just appends a bunch of "silence" for the extra width, until I hit a certain width, where it starts rendering correctly again until it once more appends "silence"

[2018-10-12 11:18] AliMunchkin commented on #5
Thanks so much for picking this up and providing some example code, I really appreciate it :)

I hope to consider this for an upcoming project and let you know how I get on.

[2018-10-12 12:36] dmrschmidt commented on #5
Sure thing! If you end up using it - or simply exploring it a bit - I appreciate every bit of feedback :) As the core of your original issue can be addressed and the README is now explaining it too, I’ll consider this closed for now. Will still get back to supporting this more out of the box at some
later point.

[2018-10-12 12:36] #5 closed

[2018-11-30 02:48] DamonChen117 opened #8 "The waveform is offset than actual."
in the func
[code]

There is a line:
`let samplesPerPixel = max(1, sampleCount(from: assetReader) / targetSampleCount)`

samplesPerPixel is a Int, so it ignore Decimal, and it result there Is offset for waveform, and it accumulate the offset for each call to process.

[2018-11-30 03:06] DamonChen117 commented on #8
My work around is  :

[code]

[2019-01-22 09:36] donpironet opened #9 "Track microphone sound"
Hi,

I'm running your example and the simulator asks for microphone access. But I don't see where I can couple the microphone with the wave. Is this possible to do live visualisation of the microphone sound?

[2019-02-08 17:18] mjrehder opened #10 "Release Swift 4.2 version to Cocoapods"
I have another open source project on github which uses DSWaveformImage and I would like to submit that pod to CocoaPods with Swift 4.2 changes. However, I cannot do that until this library is released to CocoaPods as well (Current version 5.0.x is only Swift 4.0)

[2019-02-20 06:20] dmitryond commented on #10
Try

`pod 'DSWaveformImage', :git => 'https://github.com/dmrschmidt/DSWaveformImage.git', :commit => '01c6cdbb3025b8bfa3a9bd266f7da9a436185605'`

in podfile

[2019-02-20 15:44] mjrehder commented on #10
I have no issues with taking a particular commit or version from Github. I can always make a fork if I need something specific.
My issue is that you cannot specify a non-released version in the .podspec file (Not the Podfile!).
The .podspec file of my own pod is verified and used when I attempt to release to cocoapods and then this fails.
Is there an issue with the current Swift 4.2 version so tha

[2019-03-01 11:35] dmitryond opened #11 "Application crashes because of memory issue while creating waveform."
This code in AudioProcessor.swift:
[code]
ends up crashing the application when selected asset is long enough. In my tests, audio file is 13 minutes long. Crash happens while over 500MB of memory is used in the while loop. If the block buffer isn't set crash doesn't happen.

[2019-03-18 12:36] dmrschmidt commented on #10
Sorry for the late response. No issue with it whatsoever, I just hadn't done it and I keep never noticing github notifications about my repos. I'm on this now.

[2019-03-18 14:46] dmrschmidt commented on #10
For what it's worth, pushed a cocoapods update now as 5.1.2.

[2019-03-18 14:46] #10 closed

[2019-03-18 14:48] dmrschmidt commented on #9
Better late than never: There is currently no built-in support for any live capturing. You could take a look at: https://github.com/fulldecent/FDWaveformView

[2019-03-18 14:48] #9 closed

[2019-03-20 09:34] dmrschmidt commented on #11
@dmitryond could you please provide me with the audio file you are using and a stack trace?

[2019-03-20 09:34] #6 closed

[2019-03-20 09:43] dmitryond commented on #11
Here's the link to the file, it's m4a.

https://we.tl/t-kkXCKdjWCh

I was using the library on iPhone 6 app.

The workaround I am currently using is converting the audio file to caf format real quick before making waveform. :)

[2019-03-20 12:11] dmrschmidt commented on #11
Thanks. Just did a quick check and can see the memory usage spike. Interesting as I did a test with a 2h file and it worked, no problem. Your track seems to behave differently.

I'll keep investigating and hopefully find enough time to have a fix in the next few days.

[2019-03-20 12:17] dmitryond commented on #11
I agree, it is strange. I didn't care enough to dive deeper into this, but since converting the same track to another format "fixes" the bug, I just assume there is either additional audio track or other info that inflates the memory taken by each individual sample.

[2019-03-20 12:46] dmrschmidt commented on #11
Good instinct. It's in the reading of metadata to get the number of audio channels. That's highly inefficient code as I am now realizing. Will work on a fix soon.

[2019-03-20 14:36] dmrschmidt commented on #11
This should be fixed now. I'm seeing another issue with this track, but that's related to #8 I think and long tracks not getting rendered correctly (if at all). Working on that separately.

[2019-03-20 14:36] #11 closed

[2019-03-20 14:51] dmrschmidt opened #12 "Long tracks may render as flat line"
Due to undersampling, when `downSampledLength` in `let downSampledLength = sampleLength / samplesPerPixel` results in `0` length.

Related to #8

[2019-03-20 17:06] dmrschmidt commented on #8
@DamonChen117 thanks for submitting this. You're totally right, the code is missing a hwole bunch of samples in bigger files especially. Working on a fix currently. Almost there.

I introduced a running buffer now, which makes sure all samples are getting processed. While your solution looks like it will "catch up" on the lost samples, it only fills them with 0. With the running buffer now it's en

[2019-03-21 19:03] #12 closed

[2019-03-21 19:03] #8 closed

[2019-03-21 19:09] dmrschmidt commented on #6
closed with #8 and #12

[2019-08-27 05:08] AbySwifter opened #13 "erminating app due to uncaught exception 'CALayerInvalidGeometry', reason: 'CALayer bounds contains NaN: [nan 0; 0 0]'"
this is an error， when init view.
![屏幕快照 2019-08-27 下午1 08 09](https://user-images.githubusercontent.com/18734693/63742556-c2956e00-c8cb-11e9-806a-116b138de206.png)

[2019-09-21 07:51] dmrschmidt commented on #13
I somehow never get the notifications from github when new issues are files. Could you provide a little more details how this happened? Ideally what the `WaveformConfiguration` looks like and some info about the `Waveform``s `AVURLAsset`.

[2020-02-01 18:36] kerbelda opened #16 "Sample Count not working"
I'm using WaveformAnalyzer to get X amount of samples from an audio file. Changing the count in the samples function doesn't change how many samples I get back.

Xcode Version 11.3
DSWaveformImage Version 6.1

[2020-02-01 18:38] #16 closed

[2020-02-23 02:07] yarodevuci opened #17 "How can I set the line width and padding between them?"

[2020-02-23 02:07] yarodevuci commented on #17
@dmrschmidt

[2020-02-25 05:29] dmrschmidt commented on #17
Good question. Unfortunately this isn’t supported out of the box right now. You’d need to fork it and adapt the drawing logic slightly.

Please feel free to submit a pull request.

I’ll Also put it on my to do list.

[2020-02-25 05:29] #17 closed

[2020-06-04 12:51] #13 closed

[2020-06-04 12:52] dmrschmidt commented on #13
closed due to inactivity + I wasn't able to reproduce. Feel free to re-open with more details.

[2021-01-28 11:28] Janneman84 opened #19 "Package works fine but it's throwing 5 warnings"
On my quest to keep my project free of warnings I noticed a few warnings this package is generating in TempiFFT.swift:

`Inout expression creates a temporary pointer, but argument 'imagp' should be a pointer that outlives the call to 'init(realp:imagp:)'` (line 112)

`Initialization of 'UnsafeMutablePointer<Float>' results in a dangling pointer` (line 166 and 226)

These seem to be a bit above my

[2021-01-28 13:05] Janneman84 commented on #19
Ok I figured it out:

Replace line 112 with :

[code]

Replace (what used to be) line 166 with:

[code]

Replace (what used to be) line 226 with:

[code]

Maybe you could incorporate this into a new version?

[2021-02-09 18:08] dmrschmidt commented on #19
Thanks @Janneman84! I've added those changes and released a 6.1.2. Works via carthage.

Unfortunately I only have access to an M1 MacBook for the next few weeks where a specific ruby dependency is still not working, which means I cannot push the update to cocoapods for the time being.

I've been meaning to migrate over to SPM anyway for a long time now, so I think I'll just make 6.1.1 the last off

[2021-02-09 18:08] #19 closed

[2021-02-09 19:28] dmrschmidt commented on #19
Just added SPM support.

[2021-02-10 10:18] Janneman84 opened #20 "waveform is always partially transparent"
I'm trying to create a black waveform but it turns dark grey. I tried making it white too using `style: .filled(.white)` but the yellow background still seeps through making it look light yellow:

<img width="223" alt="Schermafbeelding 2021-02-10 om 11 22 31" src="https://user-images.githubusercontent.com/9085167/107497053-562b2f00-6b92-11eb-9133-e0713e87fd09.png">

I took a look at the drawing co

[2021-02-10 11:02] dmrschmidt commented on #20
Yeah this has been a weird one to me for a while now. I wanted to spend some time again today afternoon to look into it again. My best guess right now is that it has something to do with antialiasing since it only happens in the filled case, which is essentially drawing a bunch of 1px lines.

A more "native workaround" that doesn't require any code changes to be used - since 7.0.0 - would be to us

[2021-02-12 11:15] dmrschmidt commented on #20
It was indeed antialiasing. This is fixed - and configurable - now in 7.0.1.

[2021-02-12 11:15] #20 closed

[2021-02-20 07:04] MysteryRan opened #21 "different colors"
<img width="342" alt="截屏2021-02-20 下午3 02 15" src="https://user-images.githubusercontent.com/17866688/108587105-ab362480-738c-11eb-84d4-eca3642b542a.png">
want to realize like this function,set different part different color, how to work it? thx.

[2021-02-20 07:49] dmrschmidt commented on #21
There's many different ways this could be achieved. In this particular case, it looks like the "2nd color" is simple the same white, just with 40% or so opacity. So you could do is, is

* render yourself one waveform as a 100% white image
* assign this to one waveform image view (below that's the `viewModel.playbackWaveformImageView`)
* assign it to a 2nd waveform image view that you position exac

[2021-02-20 08:14] MysteryRan commented on #21
<img width="323" alt="截屏2021-02-20 下午4 13 48" src="https://user-images.githubusercontent.com/17866688/108588920-a1192380-7396-11eb-99da-5a82d9299bc2.png">
thx.

[2021-02-20 08:14] #21 closed

[2021-02-24 13:38] Janneman84 commented on #20
I just tried and even with antialiasing the waveform is fully opaque now, thanks!

[2021-03-01 12:38] daihovey opened #22 "Load a Remote URL"
Has anyone attempted to build a version which could load a remote URL?
`AVAssetReader` complains currently `"Cannot initialize an instance of AVAssetReader with an asset at non-local URL"`

[2021-03-01 13:21] dmrschmidt commented on #22
I've never actually tried that myself tbh. But you can simply download the file with `URLSession`. Code for this (just an illustration as it ignores all sorts of possible error scenarios) could look like this:

[code]

[2021-03-01 18:43] #22 closed

[2021-06-30 08:07] draxxxter opened #23 "Make this library for tableView."

[2021-06-30 08:19] dmrschmidt commented on #23
Would you mind elaborating what you mean with this?

It works perfectly fine inside a cell within a `UITableView`, so I am not sure at all what you're referring to.

[2021-07-02 10:47] #23 closed

[2021-11-01 18:20] drewg233 opened #24 "WaveformLiveView is slower than example project"
Not sure if I am doing something wrong here, but my `WaveformLiveView` is much slower than the example projects. Mine is using all Swift and I followed what the sample project is doing.

https://user-images.githubusercontent.com/6364990/139720379-6dc3bd3f-a465-41af-a71c-01b37e3c4304.mov

https://user-images.githubusercontent.com/6364990/139720320-769e8c0d-2272-4ea7-b4ec-63bb21d3bf76.mov

[code]

[2021-11-01 18:47] dmrschmidt commented on #24
Hey @drewg233, I would guess that is due to the slower timer interval of just 0.1s as opposed to 0.01s in the example. See https://github.com/dmrschmidt/DSWaveformImage/blob/e0f4caa6a8c1bb168df8d4194b46d6bd12d5878e/DSWaveformImageExample/SCAudioManager.m#L68

let me know if this helped.

[2021-11-01 18:50] drewg233 commented on #24
Oh geez. Thats embarrassing! Yup that fixes it. Thank you for your response.

[2021-11-01 18:50] #24 closed

[2021-11-01 18:51] dmrschmidt commented on #24
😄 no worries at all. Aren’t 99% of all coding mistakes like this? :) I’m glad I could help.

[2021-11-15 17:58] rastaman111 opened #25 "Crop audio"
Hey @dmrschmidt!  Do you have the ability to cut a fragment from a finished file?  That is, select start and finish as RangeSlider

[2021-11-16 14:54] dmrschmidt commented on #25
Currently this is not something that's supported by the library itself, no. So you'd need to create a temporary audio file yourself at the moment, wich you trim to the desired range. Depending on your use case it might be - but most likely isn't - acceptable to instead crop the resulting image.

With regards to supporting this use case from within the library directly, I don't think I'll be able t

[2021-11-16 15:49] rastaman111 commented on #25
Yes, I know that you need to create a temporary file with the desired interval, there is nothing complicated here, there is a solution.  But I can't find a ready-made good solution for RangeSlider specifically for audio files, although there are solutions from the video ...

[2021-11-16 18:05] dmrschmidt commented on #25
Hey @rastaman111, I'm sorry but I'm not quite sure I understand what RangeSlider, and what video you are referring to. As far as I am aware, there is no RangeSlider native to UIKit or SwiftUI, so I assume you must be referring to another 3rd party library?

Regarding a workable solution to the original problem, you've problem come across this answer to [how to slice an audio file within a `CMTimeR

[2021-11-16 18:12] rastaman111 commented on #25
That's what I mean [rangeSlider](https://github.com/WorldDownTown/RangeSeekSlider).  That is, on your Waveline, move the sliders and select the range

[2021-11-17 07:25] dmrschmidt commented on #25
OK, so yeah. That [stackoverflow answer](https://stackoverflow.com/a/68598028/580730) should do the trick for you or at the very least guide you into the right direction then. You'd just need to map that rangeSlider's selected min and max value to the [CMTimeRange](https://developer.apple.com/documentation/coremedia/cmtimerange-qts)'s desired values.

[2021-11-19 18:39] williamrodz opened #26 "Can you provide an example for SwiftUI?"
I am trying to use the WaveformLiveView in **SwiftUI**, but am having a hard time since there is no direct example.

How can I incorporate these elements into a declarative SwiftUI view definition? The following fails due to a `Static method 'buildBlock' requires that 'WaveformLiveView' conform to 'View'` error
[code]

[2021-11-19 21:03] dmrschmidt commented on #26
Hey @williamrodz I'll try to incorporate a SwiftUI example soon into the example app. Not sure when I'll get to that, but maybe not yet this weekend. Bridging UIKit views into SwiftUI is fortunately mostly quite straightforward though. You'll want to [have a look at `UIViewRepresentable`](https://developer.apple.com/documentation/swiftui/uiviewrepresentable) for that.

There's a [simple writeup on

[2021-12-07 16:13] vburojevic opened #27 "Support clear background"
If the background color config is set to clear, the waveform background is black.

I see that [this commit](https://github.com/dmrschmidt/DSWaveformImage/commit/a9d010c2e3b7faf5db00ec3cc2890e6369ba4e96) a few years back fixed that, but I guess it got broken again since the drawing logic uses a different API now.

is it possible to have a clear background with this version?

[2021-12-07 16:30] dmrschmidt commented on #27
Hey @vburojevic,

are you sure the black background isn't set by anything else? If I run the current example app, the backgrounds of the top and bottom views there are transparent, in fact.

see [the README screenshot taken directly from the app](https://github.com/dmrschmidt/DSWaveformImage/blob/main/screenshot.png)

[2021-12-08 08:22] vburojevic commented on #27
@dmrschmidt yes, you're correct, I guess it has black background because I put it in an `UIStackView`, for some reason. But that's not an issue with this lib I think, so closing.

Thanks and sorry for reporting an issue with the lib since it wasn't!

[2021-12-08 08:22] #27 closed

[2021-12-08 08:31] dmrschmidt commented on #27
No worries at all, I'm always here to try and help :)

[2021-12-15 08:11] dmrschmidt commented on #26
Better late than never, I've added a SwiftUI example now to the example app in the repo. You can try it out in Xcode.

The most important component here is [WaveformImageViewUI](https://github.com/dmrschmidt/DSWaveformImage/blob/main/DSWaveformImageExample/SwiftUIExample/WaveformImageViewUI.swift) as the SwiftUI wrapper.

[2021-12-15 08:11] #26 closed

[2022-02-10 08:26] MiriWeinstein opened #28 "Memory issue"
Loading url to waveformImageView ->
popping out to previous vc before waveformImageView finished loading ->
crashes on memory issue.
Is there an option to stop loading the waveformImageView? or kill the object?

[2022-02-11 00:15] dmrschmidt commented on #28
Thanks for reporting this @MiriWeinstein!

Would you be able to support me with a stack trace of the crash here so I can narrow down where exactly the issue may be?

if you could provide a bit of the code in the context where the library is used, that would also be extremely helpful.

Appreciate your help :)

[2022-02-13 07:08] MiriWeinstein commented on #28
The function I'm using:

    func initWaveformImageView(url: URL) {
        waveformImageView  = WaveformImageView(frame:  CGRect(x: UIScreen.main.bounds.width/2, y: 0, width: 2000, height: 40))
        scrollView.addSubview(waveformImageView!)
        scrollView.contentSize = CGSize(width: waveformImageView!.frame.width + UIScreen.main.bounds.width , height: 40)

        waveformImageView?.wavefo

[2022-02-13 12:40] dmrschmidt commented on #28
Hmm, is that the only output? I’d ideally need a stack trace to see where exactly the problem occurred.

With this information I can only go with a very vague hunch right now: is the size of the audio file very large? Like more than 100MB or so possibly? That might cause memory issues potentially. It’s not specifically optimized for huge files.

Unfortunately, I will be hiking through the dense ju

[2022-02-13 12:48] MiriWeinstein commented on #28
Thanks for responding,
the file size is 15MB, the memory issue crash happens when I open the view controller that tries to draw the wave, and then, before it's completed the drawing, the user popped out to previous VC, then opening again then popping again, than memory issue (with no log, just popup in xcode)

[2022-02-14 01:31] dmrschmidt commented on #28
Ah alright, sorry you yes you had mentioned that. I misunderstood, my bad. When I’m back in civilization I’ll have a look and try to reproduce the issue. Really sorry for the longer delay until I can get to it.
On 13. Feb 2022, 19:48 +0700, MiriWeinstein ***@***.***>, wrote:

[2022-02-16 09:24] #25 closed

[2022-03-02 18:07] illiniChief6 opened #29 "XCFramework with SPM support"
Hi, I love using this library on iOS! It makes audio visualizations so cool!

Is there a plan to make this library support xcframeworks with SPM? This way this library will compile on M1 Macs simulators and run with Mac Catalyst?

Thanks!

[2022-03-03 02:25] dmrschmidt commented on #29
Hey illiniChief6, thanks for reaching out.

Good suggestion to support Catalyst as well. I have never looked into Catalyst, so I don't really know the culprits.

That said, the library is already available via SPM as an xcframework, see https://github.com/dmrschmidt/DSWaveformImage#installation.

Under "Deployment Info" in the frameworks build target settings, Mac Catalyst is also actually already

[2022-03-03 02:36] dmrschmidt commented on #29
I just tried it out in the included sample app. All I had to do was enable Mac Catalyst via the checkbox (see above commit) and run it.

<img width="901" alt="Screenshot 2022-03-03 at 09 31 57" src="https://user-images.githubusercontent.com/69365/156485304-db2a2a3d-eff9-49ad-812c-75f07856892e.png">

So it should work for you as well with the version that had already been out (I did not need to rel

[2022-03-04 01:13] #29 closed

[2022-03-31 13:02] dhimansham opened #31 "Creating Waves Visualisation from recording within view fram"
**Here is what I am trying to do:**

![Wave Expected Gif][1]

**The screenshot is taken from a XR iPhone.**

![Wave Done Gif][2]

I have been working in AVAudioPlayer and I would like to draw a waveform which looks like the first gif. I am using [DSWaveformImage-main](https://github.com/dmrschmidt/DSWaveformImage) Github pods to draw waves when the user records the sound. But I'm confused how to d

[2022-03-31 13:54] dhimansham commented on #31
Hello @dmrschmidt,  Thank you for your reply.

I'm just using your code, download the code and run on the simulator. So I don't have any my code.

Yes, I have checked the iOS example app. I'm using your code which returned me the above results. And i want to fit the waveform graph onto the screen. Is it possible with your code?

please guide me, how to achieve this, if you need any other informati

[2022-03-31 14:26] dmrschmidt commented on #31
Ah, if my above assumption about the dB value being reported back by AVAudioRecorder is correct, when you run the app and look at the logs, you should see output like this:

<img width="263" alt="Screenshot 2022-03-31 at 16 13 22" src="https://user-images.githubusercontent.com/69365/161078465-b88da25f-2ea9-4dd6-9de7-ab73f876c922.png">

Only that there would be values sporadically that are greater

[2022-03-31 14:37] dhimansham commented on #31
horizontal fit

Ok, I understand your point. We need pre-recorded audio file for horizontal fit. Is it not possible without pre-recorded audio file or available on disk / the network. Currently,  We need to show the waves and fit the waveform graph onto the screen when user record the audio.

[2022-03-31 15:26] dmrschmidt commented on #31
OK, gotcha. So yeah, in that case - right now - you *could* - in theory - use [WaveformImageDrawer.waveformImage(from samples: [Float], with configuration: Waveform.Configuration)](https://github.com/dmrschmidt/DSWaveformImage/blob/main/DSWaveformImage/DSWaveformImage/WaveformImageDrawer.swift#L51), which returns a `UIImage`.

That would be horrendously performance and memory inefficient though. I

[2022-04-01 07:33] dmrschmidt commented on #31
Having thought about this a little bit more, it would - in fact - not be that straight forward.

The problem for this requirement is, that the samples coming in, will need to be downsampled on the fly to always fit the window. The more samples you get over time, the more crucial performance becomes, so this would need to be taken care of from the start.

In theory, all the required logic / math bi

[2022-04-01 07:36] dmrschmidt commented on #28
With much of a delay now... Is this issue still happening to you? I had tried reproducing it but with no luck.

From my tests with the memory profiler it all looked pretty alright to me in my scenarios. I know this has been a long time ago now and you probably moved on. But if you can still reproduce this, I'm wondering if we could maybe to a remote pairing session to look at this. Let me know.

[2022-04-01 07:46] MiriWeinstein commented on #28
Yes, it still happening, not on first time, but if you open, close, open, close a few times before the wave finishes loading, it crashes on memory issue. I chose a large file (15 mb) so it takes time for the wave to draw itself

[2022-04-01 07:53] dmrschmidt commented on #28
OK that's good to hear. I mean that it's still reproducible for you. Not that it's still happening at all ;)

As I mentioned, I did not manage to reproduce this locally, so I'd be very keen to investigate this further.

If this was possible at all for you and you'd be open to looking into this, I'd love to do a 15-20 minute zoom screen sharing session maybe? That would probably not be enough to fi

[2022-04-01 07:57] MiriWeinstein commented on #28
Unfortunately, a zoom meeting is not possible for me, but I will send you the code on Sunday.

[2022-04-01 07:59] dmrschmidt commented on #28
No rush from my side :) That would be very much appreciated if you could share a bit more of it. Thanks so much :)

[2022-04-02 08:42] #31 closed

[2022-04-03 08:47] MiriWeinstein commented on #28
[WaveAudioView.pdf](https://github.com/dmrschmidt/DSWaveformImage/files/8404104/WaveAudioView.pdf)

[2022-04-04 06:51] dmrschmidt commented on #28
Hey @MiriWeinstein,

thanks for sending this snippet. So far, I still wasn't able to reproduce this.

I am beginning to suspect, that there possibly may be a bug in your navigation setup and possibly not within DSWaveformImage.

In practice, when you dismiss the `WaveAudioView`, which must sit in some `UIViewController`, the `UINavigationController` that holds those, is responsible for releasing t

[2022-05-06 10:09] narcodog opened #33 "WaveFormImageDrawer.swift - Type of expression is ambiguous without more context"
In WaveFormImageDrawer.swift, in the function drawGraph, for the line:

    let colors = NSArray(array: colors.map(\.cgColor)) as CFArray

 I get the error "Type of expression is ambiguous without more context"

"\.cgColor" is underlined.

Xcode 11.2.1 (The most recent version I can use on my current machine)

[2022-05-06 22:36] narcodog commented on #33
Great, I'm no longer getting the error :)

Thanks for the speedy reply :)

[2022-05-08 05:19] dmrschmidt commented on #33
Glad I could help :) Just merged this change back into main and released it as 10.0.1. So you can use that version now instead of the branch.

[2022-05-08 05:19] #33 closed

[2022-05-16 17:29] kartuzovmax opened #34 "Is there a way to cancel waveform image rendering process?"
I have a scenario in my app, where user may select between multiple audios which may be 5-10 min long. Usually, it takes quite some time to render one waveform out. In case when one waveform is being rendered and user taps on the new audio, I want to stop the rendering process of the first waveform, so I can start rendering a waveform image of the new audio.

How can I stop the initial rendering p

[2022-05-17 12:54] dmrschmidt commented on #34
Hmm very good question. As it stands, I don't see a straightforward way to achieve this unfortunately.

The analysis - which is the expensive part - is currently not implemented as an [NSOperation](https://developer.apple.com/documentation/foundation/nsoperation). That would be the ideal approach to make these cancellable I'd say spontaneously. This would require a non-trivial (although relatively

[2022-05-18 11:46] kartuzovmax commented on #34
Thank you for your answer! :)

[2022-05-25 14:22] fabien79 opened #35 "Error on sample code "Trailing closure passed to parameter of type 'CGFloat?' that does not accept a closure""
I would like to draw an image based on a mp3
I Follow install your request and copy past your example

let waveformImageDrawer = WaveformImageDrawer()
let audioURL = Bundle.main.url(forResource: "example_sound", withExtension: "m4a")!
waveformImageDrawer.waveformImage(fromAudioAt: audioURL, with: .init(
                                  size: topWaveformView.bounds.size,

[2022-05-25 16:05] fabien79 commented on #35
I test the Example code in the project, it's working, i don't understand.
Thanks

[2022-05-25 16:05] #35 closed, assigned to nobody

[2022-06-13 07:04] #34 closed

[2022-07-16 20:19] LykaMali commented on #21
How do I get the width and height of an unfilled wave view?

[2022-07-16 20:27] dmrschmidt commented on #21
There’s no intrinsic content size being calculated. So the short answer is, there is none. Instead, you define the size of the view (and thus waveform) by either setting the view’s frame or via auto layout constraints. The audio file is then downsampled to fit into the width and height you define.

If you want a specific resolution instead, you’ll have to do some manual math based on the audio fil

[2022-07-16 20:29] LykaMali commented on #21
I'm trying to get the following view

<img width="689" alt="Screen Shot 2022-07-16 at 23 28 52" src="https://user-images.githubusercontent.com/63293527/179371023-b0ddad6c-14e2-4732-936f-954a625cf7b3.png">

[2022-07-16 20:37] dmrschmidt commented on #21
So by „unfilled“, you mean „unplayed“ then, assuming that image you posted represents playback progress?

In that case, you‘d need to do sth similar to what I had originally described in https://github.com/dmrschmidt/DSWaveformImage/issues/21#issuecomment-782581320

If you do still need the dimensions and position of the unplayed / unfilled area, you’ll just need to calculate the „inverse“ of that

[2022-07-20 08:26] MostafaALZOUBI1994 opened #36 "SwiftUI Example WaveformLiveView"
please provide  WaveformLiveView for swiftui from audio recorder

[2022-07-20 10:43] dmrschmidt commented on #36
In the current form, that would look almost identical to https://github.com/dmrschmidt/DSWaveformImage/blob/main/DSWaveformImageExample/SwiftUIExample/WaveformImageViewUI.swift only that you'd need to adapt everything to handle a `let samples: [Float]` instead of the `let audioURL: URL`.

You may want to familiarize yourself with the workings of [UIViewRepresentable](https://developer.apple.com/do

[2022-07-21 06:00] #36 closed

[2022-07-21 06:01] dmrschmidt commented on #28
closing since no further activity

[2022-07-21 06:01] #28 closed

[2022-07-21 13:28] ldakhoa opened #37 "Is there a way to zoom and scroll waveform?"
Hi @dmrschmidt, Do you have the ability to zoom in/out the waveform and scroll it?

[2022-07-21 17:19] dmrschmidt commented on #37
Hey @ldakhoa,

this is not something that's currently supported natively.

If there is no real-time interaction requirement, and you know the beginning and ending boundaries rather statically, you could [slice the audio file beforehand](https://github.com/dmrschmidt/DSWaveformImage/issues/25#issuecomment-970529487) and then just pass that into the waveformview.

I'm assuming you're looking for a r

[2022-07-22 05:13] ldakhoa commented on #37
Hey, thank you for your answer

[2022-07-22 05:13] #37 closed

[2022-08-03 18:24] Arnav-arw opened #38 "Live waveform view for HLS audio streaming for SwiftUI"

[2022-08-03 18:26] Arnav-arw commented on #38
https://user-images.githubusercontent.com/88189594/182681882-091be2bd-9f8a-4780-ba52-68d26710ed91.mov

Basically this but for HLS audio urls.

[2022-08-04 13:51] dmrschmidt commented on #38
Hey @Arnav-arw,

so as a disclaimer, I haven't actually done anything yet with HLS streams myself.

My understanding though is, that `AVPlayer` just plays them as it would any other regular local file.

That means, that you can use `WaveformLiveView` essentially exactly like the example use case from the readme:

see https://github.com/dmrschmidt/DSWaveformImage#waveformliveview---renders-a-live-w

[2022-08-04 13:53] dmrschmidt commented on #38
You could also have a look at this here, which may let you work off the stream a bit more "directly". Completely untested, I just came across this during googling: https://chritto.wordpress.com/2013/01/07/processing-avplayers-audio-with-mtaudioprocessingtap/

[2022-08-17 10:28] sanketk2020 commented on #22
Hi @dmrschmidt ,
I tried your suggested code, and I also try from my side by downloading the audio file and saving it locally and then assign the URL to WaveformView but I get no results.
I get this error : ERROR loading asset / audio track

Is there any other way to generate the wave from the URL?

Thanks

[2022-08-17 10:33] sanketk2020 opened #39 "Generate the wave from URL."
Hello,

I tried by downloading the audio file and saving it locally and then assign the URL to WaveformView but I get no results.

I get this error : ERROR loading asset / audio track

Is there any other way to generate the wave from the URL?

Thanks

[2022-08-17 15:12] dmrschmidt commented on #39
Does the file play normally in an AVPlayer? That message typically comes up when the media format is not supported for instance.

Is the URL for the file you’re trying to use publicly available? If so, could you paste it here? I could try and have a look myself then.
On 17. Aug 2022, 12:33 +0200, sanketk2020 ***@***.***>, wrote:

[2022-08-17 15:13] dmrschmidt commented on #38
Closing due to inactivity. If this didn't help and the problem persists, please feel free to re-open this / open a new issue.

[2022-08-17 15:13] #38 closed

[2022-08-17 15:16] dmrschmidt commented on #39
Also, did you have a look at this scaffolded example for downloading a remote URL? https://github.com/dmrschmidt/DSWaveformImage/issues/22#issuecomment-787943864

[2022-08-24 16:50] RyanG2016 opened #40 "Calculated waveform image different level than live view"
I am using the realtime view to display audio level when recording. If the user playsback the recording, I am generating a waveform image which replaces the liveview during playback.
I'm noticing that the levels that come in when recording are not the same as the rendered image. I will attach images but what I mean is the image view and the realtime view are the same sizes and when I'm realytime r

[2022-08-26 19:09] dmrschmidt commented on #40
Hey @RyanG2016,

that’s a very interesting problem. I don‘t have a clear answer for you right now, but I’ll look into this a bit more when I find some time.

On first glance, I think one major contributing factor is that the data & calculations for both are vastly different due to very different needs. The live view simply transforms incoming values in real time using straightforward math on alrea

[2022-09-03 21:44] RyanG2016 commented on #40
@dmrschmidt Hi!
The first waveform is the real-time monitor.  It is running every .01S. The level never really peaks and the wave frame is pretty much identical to the one in your example.
I guess in order to make the levels look similar I guess you need to factor in the frame height or the live waveform in the formula somewhere.
I'm terrible in math so I don't know how much I can help there :)

[2022-09-05 11:25] dmrschmidt commented on #40
There's a few things here at play. First regarding the levels. The two views serve different purposes and are thus behaving slightly differently. They are both normalized differently, which explains why one "never really peaks". This is by design for the use cases I had in mind when designing this originally. Potentially one could make this adjustable to be more flexible for different use cases.

[2022-09-05 19:16] RyanG2016 commented on #40
@dmrschmidt I will play around with the different waveforms and see if they will work better.

[2022-09-10 14:57] predam opened #41 "Render bug?"
Hello, any idea why this happen?

![RPReplay_Final1662818646](https://user-images.githubusercontent.com/9632910/189488816-0780bf34-000d-4df2-a835-42ba0033e360.gif)

I am using SwiftUI, and I wrapped the wave view into UIViewRepresentable.
The configuration of WaveformLiveView:

[code]

[2022-09-10 15:06] dmrschmidt commented on #41
Hey @predam, without more context, this is tough to tell.

From afar, it looks like the view is not re-rendering itself and instead rendering a new view every time, while leaving the old one in place. That would explain why over time it renders completely opaque red.

So my wild guess is that either your implementation of `UIViewRepresentable` isn't quite right and leaves "dead views" all over the

[2022-09-10 16:15] predam commented on #41
I can't figure out what I'm doing wrong.

Here is my code

[code]

[2022-09-10 16:37] dmrschmidt commented on #41
I did not run this code, so this is again just me doing an educated guess from reading through it.

I think the issue may just be what I had speculated earlier: your implementation of UIViewRepresentable and what looks like a misunderstanding of SwiftUI principles. Let me explain:

Have a look at the [example implementation of using UIViewRepresentable](https://github.com/dmrschmidt/DSWaveformImag

[2022-09-10 17:07] dmrschmidt commented on #41
I should add that, all this said, `WaveformLiveView` does not lend itself well very well to simply be wrapped inside a UIViewRepresentable in a simplistic way due to its API, which is very UIKit-imperative. I.e. you wouldn't have an `addSamples` method in a SwiftUI view ever to pass data to it. So you'd definitely need some more complex wrapper.

I am still planning on writing a native SwiftUI imp

[2022-09-11 10:01] dmrschmidt commented on #41
Me again :)

I've used a current down time I'm having to take another stab at creating a native SwiftUI version of the live view.

There's a preliminary draft of this now on main: https://github.com/dmrschmidt/DSWaveformImage/commit/02578315aa119747e9aeba58a39c4174be61d6a7

Depending on your needs, you could just check out main and use the new [WaveformLiveCanvas](https://github.com/dmrschmidt/DSW

[2022-09-11 11:24] #39 closed

[2022-09-11 11:25] dmrschmidt commented on #39
Closed due to inactivity. Feel free to re-open if this is still an issue.

[2022-09-11 11:42] dmrschmidt commented on #36
FYI, there is now a native SwiftUI live view: https://github.com/dmrschmidt/DSWaveformImage/blob/main/DSWaveformImage/DSWaveformImage/SwiftUI/WaveformLiveCanvas.swift

[2022-09-11 12:02] dmrschmidt commented on #41
The last remaining issue has been fixed and there's a new official [Release 10.1.0](https://github.com/dmrschmidt/DSWaveformImage/releases/tag/10.1.0) with a [native SwiftUI live rendering view](https://github.com/dmrschmidt/DSWaveformImage/blob/main/DSWaveformImage/DSWaveformImage/SwiftUI/WaveformLiveCanvas.swift).

[2022-09-11 12:02] #41 closed

[2022-09-11 12:45] predam commented on #41
Thank you, @dmrschmidt 🙏. I am new to the swift world, so thank you for the resources.

[2022-09-12 04:43] jverkoey opened #42 "macOS / AppKit support"
I'm working on a personal music player app on macOS and I'm hoping to use the underlying waveform analysis code you've written. Everything in the package is currently bundled into a single target that's compatible only with iOS. Are you open to potentially splitting the package into a few targets, with one containing the platform-agnostic "Waveform*" classes?

[2022-09-12 05:17] dmrschmidt commented on #42
Hey @jverkoey, thanks a lot for the PR 🙏 Very much appreciated :)

I was just yesterday thinking about it after I restructured the files more logically into those separate folders. In the end I didn't go into that direction for these thoughts I had:

* Given the small overall size, I subjectively felt the actual benefit would likely be dubious at best
* I wasn't sure what one would gain in terms o

[2022-09-12 05:20] dmrschmidt commented on #42
Ah wait, or are we talking slightly different things? You actually mean creating two separate macOS / iOS targets?

If that's the case: doesn't the current target actually work already for macOS? Or does it not, because it's "Catalyst only"? Tbh I haven't done any macOS development myself yet, so I'm a little unfamiliar here.

[2022-09-12 05:42] jverkoey commented on #42
Yep! I'm working on a macCatalyst app, but (prepare for semi-long story 😅) I'm placing the waveform visualizers in the toolbar and, unfortunately, catalyst toolbars don't support custom views. Sooo I'm using a hack from @steventroughtonsmith (context: https://twitter.com/featherless/status/1569144875769303042) that allows you to bridge an AppKit framework into a Catalyst app so that you can build

[2022-09-12 05:52] dmrschmidt commented on #42
Great track in the image btw 😄

So yeah, I've just started playing around with macOS and realized a few culprits around shared classes around UIColor, UIScreen etc. Now that I understand what the issue is, I definitely think it would be sensible to either have a dedicated macOS target OR just have the one target work on both platforms via preprocessor directives etc.

Not sure what would be best t

[2022-09-12 06:02] jverkoey commented on #42
Let me push up a *very* rough PR with the deltas so you can see! Inbound...

[2022-09-12 06:06] jverkoey commented on #42
https://github.com/dmrschmidt/DSWaveformImage/pull/44

[2022-09-12 06:06] jverkoey commented on #42
^ Pull request. Note I took the straightest path to getting things building 😅 I'd be happy to clean it up and get it good for merging if you like the direction it's going.

[2022-09-12 06:07] jverkoey commented on #42
🕺🎊

[2022-09-19 13:34] sanketk2020 commented on #39
Yes, the file plays normally in an AVPlayer but I had an issue with accessing the URL;
 before I access the URL like this

``` URL(string: "XYZ") ```

 but then I realize and change the way of accessing the URL like this

```URL(fileURLWithPath: audioPath)```

and this way works like charm.

Anyways thanks for the reply.

[2022-09-19 13:43] dmrschmidt commented on #39
I'm glad to hear it works now :)

[2022-09-24 10:43] CacereLucas opened #45 "Generate the waveform from URL inside Core Data"
In my app you can record audio, and I've been saving that by saving the file to disc and storing a relative URL to Core Data. But I can't use those URL in `WaveformView(audioURL: $url, configuration: $configuration)`

I'm using swiftUI. Thank!

[2022-09-24 10:54] dmrschmidt commented on #45
Hey @CacereLucas,

I’m afraid I need a little more information to help here.

Why can’t you use those URLs?
What is the observed behavior? Are there any error messages? What means “relative URL”? Relative to where / what? Could you share an example url here?

I assume you’re playing these audio files? So AVPlayer plays them without issue?

With a little more info we should be able to figure out wh

[2022-09-24 11:15] CacereLucas commented on #45
Of course! In Core Data I save only the name of the file and then I rebuild the url when I want to play the file. Therefore, if I use the URL directly stored in CD, I receive the following error.`UserInfo={NSUnderlyingError=0x600001d1c3c0 {Error Domain=NSPOSIXErrorDomain Code=2 "No such file or directory"}, ` I assume is because it doesn't have the full url, only the name of the file.

So I have c

[2022-09-24 11:32] dmrschmidt commented on #45
Got it. Thanks. And are you playing the file using the **exact same** URL from the same variable? Or is there any chance the player and the WaveformView are receiving slightly different URLs?

This here seems to be the interesting part: Which line is that originating from?

[2022-09-24 12:38] CacereLucas commented on #45
I think I know where the possible mistake is. For some reason, the method I have created to complete the URL is not working. Look at this image:

<img width="1341" alt="Captura de pantalla 2022-09-24 a las 14 32 30" src="https://user-images.githubusercontent.com/86716816/192098169-c14457a9-8e32-4c56-84a9-3d622cc21fed.png">

I really don't know why is unused frankly.

In the line where I have the W

[2022-09-24 18:32] dmrschmidt commented on #45
Sorry for the delay.

OK I see. There's two separate issues here in the code you shared:

That yellow warning actually gives the first hint. `Result of call is unused`. You're not actually assigning the URL to anything. And from your previous post I'm seeing that it's signature is `func getFile(fileName: String) -> URL`, so it is returning the URL. What I can't see of course is whether it has any

[2022-09-24 19:26] CacereLucas commented on #45
We're making progress here :)

Thanks to your example code the first issue is resolved.  I don't have any more the yellow warning.

For the second issue, I used `Binding($fileUrl)!`because I have an `@State` variable, exactly the same as your example: `@State var fileURL: URL?` but it's optional and I can't really write ` WaveformView(audioURL: $fileURL!)` because it throws me an error.: `audioURL

[2022-09-24 20:03] dmrschmidt commented on #45
Ah right, I see. I didn't try to run the code, so my bad for not catching this. So you'll need to [convert your optional Binding to a non-optional one](https://stackoverflow.com/questions/68546975/converting-optional-binding-to-non-optional-binding) (just an example link).

Looking at this holistically, it would arguably make life easier if WaveformView wouldn't expect a Binding but rather a plain

[2022-09-27 08:48] CacereLucas commented on #45
Hi @dmrschmidt

Sorry for the delay.

I have chosen to the second option re-implementing WaveformView and now it works! So thank you for all your help!

[2022-09-27 09:27] dmrschmidt commented on #45
Awesome, glad to know it works now :)

As an FYI, I've used the issue you ran into as an opportunity to re-visit the SwiftUI APIs and have changed them now to not require a Binding. The example project now also [uses an optional URL in its @State](https://github.com/dmrschmidt/DSWaveformImage/blob/main/Example/DSWaveformImageExample-iOS/SwiftUIExample/SwiftUIExampleView.swift#L18), so you can see

[2022-09-27 09:27] #45 closed

[2022-09-27 09:28] dmrschmidt commented on #42
I'll consider this closed now, as #44 has just been merged and [v11.0.0](https://github.com/dmrschmidt/DSWaveformImage/releases/tag/11.0.0) been released.

[2022-09-27 09:28] #42 closed

[2022-09-27 09:49] CacereLucas commented on #45
Awesome!

I have implemented version 11.0.0 of the API in a side-project that has basically the same implementation as the previous one and has worked like charm!!! So for me this update is a great improvement in the API :)

[2022-09-27 10:19] dmrschmidt commented on #45
Great to hear :) Hope all goes smooth from here on.

[2022-09-28 16:23] CacereLucas commented on #21
Hey @dmrschmidt,

Any idea if is possible doing this in SwiftUI? thx.

[2022-09-28 16:40] dmrschmidt commented on #21
There's tons of different ways to achieve this, one of the simplest might be

[code]

[2022-10-04 12:29] maxim-velich-gismart opened #46 "Last version on cocoapods is 6.1 Could you update."
Could you update cocoapods version to latest

[2022-10-05 23:28] flite3 opened #47 "Long Render times for waveform"
Hi there,

I'm having an issue with getting the waveform to render in a decent amount of time in my MacOS app.  The waveform is taking 30 seconds to render at minimum.  I've put a high task priority on it which has really changed anything.  The audio is on a server on our network and I'm connecting through wifi. Now, that could be a bottleneck but I can play the audio with little to no delay and I

[2022-10-06 06:06] dmrschmidt commented on #47
Hey @flite3,

to have some quick & dirty comparison baseline I just tested this with the most recent version on macOS (using the example app) just switching out the file there with [this example ~10MB / 8min mp3 file](https://freetestdata.com/wp-content/uploads/2021/09/Free_Test_Data_1OMB_MP3.mp3) that I downloaded and added to the example app as a bundled file (so *not* loading it from the networ

[2022-10-06 06:06] #46 closed

[2022-10-06 23:48] flite3 commented on #47
thanks @dmrschmidt, I appreciate the quick response.  It's clearly an issue with my code then, but I'm not sure why it's happening.  I went through the instruments taking out different parts of the ui, but it still stays the same in terms of speed.  It seems that it's downloading the audio at 1MiB per second and still takes 30 seconds to display.  I'll keep looking at it.  Thanks again for the hel

[2022-10-07 08:56] dmrschmidt commented on #47
Well I hope you’ll find the issue. Let me know if there’s anything I can try to help with. If you could share the code somewhere, I’ll be happy to have a closer look at some more holistic part of it.

[2022-10-07 23:11] flite3 commented on #47
That's very kind of you to offer.  If you can look at it, I would appreciate it.  I'm not going to lie, it's a mess.  There is supposed to be MySQL backend, but I do have temp data in the Playlist Editor Model that you can change to files on your system.  If it's way too much to even deal with, please don't feel obligated to have to do anything.  You can just ignore it.  I would totally understand

[2022-10-08 07:47] dmrschmidt commented on #47
Hey @flite3, I had a look at the code, but I have to admit that there's just too much code for me to reasonably figure out what may be going on without spending a lot of time on it to familiarize myself. Especially since its not accessing a public server and requires some local host to connect to, so I can't even run it to step through the interesting parts.

Some more speculation though from what

[2022-10-28 07:55] dmrschmidt commented on #47
Closing due to inactivity. Please feel free to re-open though if there's still sth I can help with.

[2022-10-28 07:55] #47 closed

[2022-10-31 09:24] tayyab13-git commented on #21
can you please help me how can i make it draggable also currently i have the design requirement to show stripped waves
thank you @dmrschmidt

[2022-10-31 09:45] dmrschmidt commented on #21
Hey @tayyab13-git,

getting a striped waveform is easy via sth similar to this
[code]

Making the overlay from [the above example](https://github.com/dmrschmidt/DSWaveformImage/issues/21#issuecomment-1261171324) draggable is also relatively straightforward. You'll just need to add a [DragGesture](https://developer.apple.com/documentation/swiftui/draggesture) on the outer `ZStack` which would need

[2022-10-31 10:26] tayyab13-git commented on #21
Im using UIKit and i think it will same on UIKIt too i need to add gesture in updateProgressWaveform

[2022-10-31 11:35] dmrschmidt commented on #21
Ah my bad. Well. So with UIKit then, yeah, you could in principle just re-use `updateProgressWaveform` as-is. You'd then need to add a `UIPanGestureRecognizer` to your view hierarchy where it makes sense in your specific case. And then just use its `translation(in:)` to infer a value within the interval `(0...1)` to be able to call it without modifications.

[2022-11-01 08:07] tayyab13-git commented on #21
Thank you for answering  Please tell me should i need to add another image over the static image as mask then on that mask i should add pan gesture and  for progress i should use the value that is coming from Pan gesture in and pass it to updateProgrssWaveform  Thanks for help 🙌🏻

[2022-11-01 09:56] dmrschmidt commented on #21
So in the [example above](https://github.com/dmrschmidt/DSWaveformImage/issues/21#issuecomment-782581320) you need 2 identical images of your waveform on top of each other, each with a different color. The one referenced in that example as `playbackWaveformImageView` is the top one, which indicates the playback progress / dragging position.

That is the one getting the mask applied, so you only ne

[2022-11-01 10:23] tayyab13-git commented on #21
Thank you soo much. I am working on a text to speech converter app and I'm working on a simple player to show the progress and allow user to drag the seek bar

[2022-11-01 11:44] dmrschmidt commented on #21
you're welcome. and good luck with that @tayyab13-git!

[2022-11-12 20:32] yspreen opened #48 "Waveform disappears when you reopen the app"
If I have a waveform image shown when backgrounding the app, the view will be empty when I re-foreground the app.
my theory is that this might be because of storage access getting blocked when the app backgrounds? the audio URL is local, but the library logs `ERROR loading asset / audio track` upon backgrounding. if I scroll the view out of the viewframe and back in, then the audio wave is back. t

[2022-11-12 20:55] dmrschmidt commented on #48
Hey @yspreen,

The first thing I'd suggest to investigate the root cause for this, is updating to the latest version (11.0.0). The [required changes](https://github.com/dmrschmidt/DSWaveformImage#migration) should be trivial. What this will do in your case, is [improve error messaging](https://github.com/dmrschmidt/DSWaveformImage/commit/d2f939e99c545a3f2d8facfd84a30938a64b46f8). If this will not

[2022-11-12 20:57] yspreen commented on #48
I just realized that I was still on the old version number 9. For some
reason Xcode will default to version 9 instead of 11 when you’re adding the
package. It’s fixed now. Now I only have this clipping issue where the bar
seems to be cut off at the top and the bottom for very high volume
segments. I’ll investigate that next.

On Sat, Nov 12, 2022 at 3:55 PM Dennis Schmidt ***@***.***>
wrote:

[2022-11-12 21:09] yspreen commented on #48
<img width="227" alt="image" src="https://user-images.githubusercontent.com/12631527/201494646-6f6dad70-7513-4d44-95ea-5e8607bfcc71.png">
the left one is cut off, and the highest bars are both cut off... maybe I should open a new ticket

[2022-11-12 21:09] dmrschmidt commented on #48
huh, I’ll have a look why Xcode may pick that version instead of the latest. Thanks for letting me know.

Im not on my laptop anymore right now to double check, but there may be some clipping happening for values over 0dB. If you could share an audio file here that has this issue I could take a look tomorrow or after, if the reason doesn’t lay somewhere else.
On 12. Nov 2022 at 21:57 +0100, Yannic

[2022-11-12 21:14] yspreen commented on #48
this is the audio: https://we.tl/t-73qAXVRbxy

@dmrschmidt

[2022-11-13 04:58] dmrschmidt commented on #48
Hmm… So unfortunately I won’t be able to debug this properly today and only had a listen to the audio file. As it’s a normal mic recording, there shouldn’t be any vertical clipping. So I’m wondering whether the view view itself is clipped by some containing view? If not, have you tried setting the verticalScalingFactor to a lower value? (Shouldn’t be necessary, but will be interesting to know whet

[2022-11-13 05:53] yspreen commented on #48
i’ll make sure to create a swift project for reproduction of this bug
tonight ✌️

On Sat, Nov 12, 2022 at 11:58 PM Dennis Schmidt ***@***.***>
wrote:

[2022-11-13 16:38] yspreen commented on #48
@dmrschmidt https://github.com/yspreen/waveform-test

[2022-11-13 17:06] yspreen commented on #48
I guess `loudestClipValue` is hard coded to 0.0dB. Would make sense to do that dynamically?

[2022-11-15 05:59] dmrschmidt commented on #48
Alright, I've found the culprit. `loudestClipValue` isn't the cause. I could still consider exposing this publicly though in case anyone runs into use cases where adjusting this would be desired. In my understanding 0dB *should* be the loudest possible value of a recording.

The problem instead is mapping what "maximum amplitude" means for different center positions. Currently, maximum is simply t

[2022-11-15 07:58] dmrschmidt commented on #48
This should be fixed now in a2ab645, released as 11.0.1.

[2022-11-15 15:07] yspreen commented on #48
speaking about the first bar only right?

On Tue, Nov 15, 2022 at 2:59 AM Dennis Schmidt ***@***.***>
wrote:

[2022-11-15 15:20] dmrschmidt commented on #48
Yes, the first bar is now always fully visible.

The vertical clipping doesn't need a fix in the library necessarily. How you tweaked it in the test project (setting `verticalScalingFactor` to a value `< 0.5` is currently the expected usage.

I do acknowledge though, that this is not necessarily the best developer experience yet. Hence my thinking out loud in https://github.com/dmrschmidt/DSWavefo

[2022-11-15 15:32] yspreen commented on #48
thank you for fixing the first bar! works perfectly now

[2022-11-15 15:53] yspreen commented on #48
okay I just saw that comment. I'm confused. so 0.5 just means 1.0 because a bar is filling half the view not all of it?

[2022-11-15 19:05] dmrschmidt commented on #48
Essentially yes,

If position just slowed either fully top or straight in the middle, it would be more intuitive if the scaling factor reference changed.

But since the center can be anywhere, it’s not quite so obvious anymore, so 1 always means full view height and 0.5 is hence always half the view weight.

On 15. Nov 2022 at 16:53 +0100, Yannick Spreen ***@***.***>, wrote:

[2022-11-15 21:17] yspreen commented on #48
got it. thanks for explaining! the only open question is: will the loudest value always be a full bar (at scaling 0.5)?
as I understand it, currently the scale is to 0db and not to the loudest value in the recording. would be cool if the scale is always fully used!

[2022-11-16 05:33] dmrschmidt commented on #48
Yes, the loudest value at 0dB will always be a full bar. This is so far not configurable simply because
a) I've oriented myself along how other audio apps are doing it, and they all scale relative to 0dB
b) I hadn't found a performant way to get the maximum value using `Accelerate`

It is determined later in the drawing cycle, but not actually used for scaling, only for a better gradient.
The perf

[2022-11-20 10:28] Necrospasm opened #49 "return NSImage instead of view"
Hi,

Try as I might (I'm still fairly new to swiftui), I couldn't manage to return the generated waveform instead of just displaying it. The goal I'm trying to achieve is this that I get a returned NSImage of the generated image so that I can store that data (.tiffRepresentation). Is there anyway this package can do that? I tried hacking about the code for about 2 days now with no success. Any hel

[2022-11-21 08:23] dmrschmidt commented on #49
Hey @Necrospasm, it sounds like you may be not be using `WaveformImageDrawer` directly.

Please refer to this example here:
https://github.com/dmrschmidt/DSWaveformImage#waveformimagedrawer---creates-a-uiimage-waveform-from-an-audio-file

On macOS, it'll create an `NSImage` instead of a `UIImage`.

If you run into problems with this approach, please let me know with the specifics and I can try to

[2022-11-21 10:14] hoangnam714 opened #50 "Error installing with SPM"
<img width="665" alt="Screen Shot 2022-11-21 at 17 12 01" src="https://user-images.githubusercontent.com/51524705/203024186-bbd13958-a8b9-4e9b-bbc8-f32765c2afdc.png">
Cannot find type 'SCAudioManager' in scope
I used SPM to install DSWaveformImage, but I can't find SCAudioManager
xcode Version 14.1 (14B47b), UIKit

[2022-11-21 10:22] dmrschmidt commented on #50
Hey @hoangnam714,

that's correct. SCAudioManager is not part of the library and only referenced in the docs to show an example for live recording. Feel free to use it, the source code is in the example project: https://github.com/dmrschmidt/DSWaveformImage/blob/main/Example/DSWaveformImageExample-iOS/SCAudioManager.m

It's really old Objective-C though and you are very likely to have different re

[2022-11-21 10:30] hoangnam714 commented on #50
@dmrschmidt ops..., so that's it
Thanks for your feedback

[2022-11-21 10:31] #50 closed

[2022-11-21 13:53] Necrospasm commented on #49
Hello @dmrschmidt, thanks for your reply. I did try that example before but for some reason it's not working for me. It's returning blank or errors out that the image is nil.

This is the code that I'm using :

[code]

I tried various variations of the above code. I essentially don't need to push the image to a view to be displayed but to assign it to a data variable (@Published var generatedThumb

[2022-11-21 21:14] dmrschmidt commented on #49
Since native macOS support was only added recently, I just double checked that this code really works on macOS in the latest version. And it does work for me in the example app.

So let's try debugging this step by step.

* If you check out this repo, try and run the macOS example app.
* Once that works, open the [`ContentView`]()
* replace its `body` with the following code

[code]

That should g

[2022-11-21 23:17] Necrospasm commented on #49
Your code worked and that got me thinking why it wasn't working in my project as the code is for the most part identical. So I created a new view, pasted your code and worked too. Then after about an hour scratching my head, I changed this line :

@Published var generatedThumbnail = Data()
- to -
@Published var generatedThumbnail: Data = Data()

and it worked. Not sure why though but maybe it will

[2022-11-22 07:35] #49 closed

[2022-11-28 17:55] AndrewSB opened #51 "height >> 100%, perhaps just in SwiftUI"
hey, i was trying this out and was surprised to see that the default verticalScalingFactor (0.95) seemed to clip outside of the bounds of the view

am i doing something wrong?

<img width="1470" alt="Screenshot 2022-11-28 at 12 53 08 PM" src="https://user-images.githubusercontent.com/3814772/204347129-c51d4aec-18e3-4c76-b48f-4edb3955cd6b.png">

audio is https://ytdl.hamsterlabs.de/?url=https%3A%2F

[2022-11-28 17:56] AndrewSB opened #52 "waveform fit width?"
both with the `WaveformView` and `WaveformLiveView`, theres a bunch of space on the left or right if the audio file / number of samples isn't long enough. is there some way to have the waveform fit width?

<img width="1470" alt="Screenshot 2022-11-28 at 12 52 24 PM" src="https://user-images.githubusercontent.com/3814772/204347481-7706f3bb-7a22-497f-8d01-4f669f1f746d.png">

[2022-11-28 18:02] dmrschmidt commented on #51
Hey @AndrewSB,

this is in fact "by design" but probably the least intuitive part of the API. I'm open to suggestions to improve it.

So the issue is, that the waveform can be positioned freely along the y-axis of the view. This was done out of a requirement for my own usage of the library. The `verticalScalingFactor` is in relation to the height of the view, so that, when the waveform is position

[2022-11-28 18:10] dmrschmidt commented on #52
Hmm... For `WaveformView` it should actually scale correctly to the full width. How long is that audio file? Does it have silence at the end? Could you share the audio maybe, so I could have a look? Definitely doesn't look correct, no.

For the `WaveformLiveView` the answer I'm afraid for now is "not really possible, no". It would require constant dynamic downsampling, which is quite compute inten

[2022-11-28 18:15] AndrewSB commented on #52
ahh hey! nice to have you here live

yeah the waveform at the top is generated by `(0 ..< 200).map { _ in Float.random(in: 0 ..< 1) }`. if i make the number > 1200, it fills the width

the audio file i'm using is https://rr1---sn-4g5e6nsk.googlevideo.com/videoplayback?expire=1669679074&ei=gvOEY5-JNZSQ1gLk7IHoBg&ip=157.90.242.21&id=o-AHARjRnReqIcHP_PeF7VD3H3WkmGjDFLYVrp2s-KO5k6&itag=140&source=yout

[2022-11-28 18:15] AndrewSB commented on #52
keeping the scrolling live view is seems like a fine direction, but i'm surprised that the file doesn't fit width

[2022-11-28 18:19] AndrewSB commented on #51
oh i see, i understand now. thats fine, maybe just some documentation on that would be nice.

a better developer-experience might be to half the vertical scaling factor when the waveform is middle?

[2022-11-28 18:19] #51 closed

[2022-11-28 18:23] dmrschmidt commented on #51
Yeah that was one consideration I had, but it would also be surprising for the values in between, because the "full height" reference size would need to change in a gradual fashion.

I feel the best way forward is really to just get rid of it and have the end-user position the image in their hierarchy how they want it.

[2022-11-28 18:26] dmrschmidt commented on #52
This is what that same audio file looks like when it is imported into Ableton:

<img width="1003" alt="Screenshot 2022-11-28 at 19 21 28" src="https://user-images.githubusercontent.com/69365/204352254-92161d6d-18f4-422e-83d9-c74fb4834cd2.png">

So there must be something strange about the audio file itself.

It looks like its taking up half the space than it should. Which makes me think it does st